<md-list>
    <md-list-item class="md-2-line"
                  ng-repeat="survey in model.surveys"
                  ng-click="dashboardCrtl.viewDetails(survey)">
        <div class="md-list-item-text">
            <h3>{{survey.title}}</h3>
            <h4>{{survey.description}}</h4>
        </div>
        <md-button class="md-icon-button md-primary"
                   ng-click="dashboardCrtl.viewDetails(survey)">
            <i class="material-icons">
                {{ survey.isOpen() ? "lock_open" : "lock_closed"}}
            </i>
        </md-button>
        <md-divider ng-if="!$last"/>
    </md-list-item>
</md-list>